<h1 class="text-2xl text-center">Phasmophobia Ghost Guesser</h1>
<div class="m-3 flex flex-wrap">

  <div class="m-2 evidence flex-1">
    <h2 class="text-xl my-4">Evidence</h2>
    <div *ngFor="let evidence of getEvidence()" class="my-2">
      <span class="inline-block w-52">
        <i class="m-1" [ngClass]="evidence.iconClass" [title]="evidence.name"></i>
        {{evidence.name}}
      </span>
      <span class="inline-block rounded-full px-3 py-1 text-sm font-semibold text-white w-20 text-center cursor-pointer mr-2"
            [class.bg-gray-500]="isEvidenceUndefined(evidence.id) || isEvidenceAbsent(evidence.id)"
            [class.bg-green-500]="isEvidencePresent(evidence.id)"
            (click)="toggleEvidencePresence(evidence.id)"
      >Yes</span>
      <span class="inline-block rounded-full px-3 py-1 text-sm font-semibold text-white w-20 text-center cursor-pointer"
            [class.bg-gray-500]="isEvidenceUndefined(evidence.id) || isEvidencePresent(evidence.id)"
            [class.bg-red-500]="isEvidenceAbsent(evidence.id)"
            (click)="toggleEvidenceAbsence(evidence.id)"
      >No</span>
    </div>
  </div>

  <div class="m-2 ghost-result flex-1">
    <ng-template [ngIf]="getPossibleGhosts().length">
      <h2 class="text-xl">Your Ghost is:</h2>
      <ul>
        <li *ngFor="let ghost of getPossibleGhosts()">
          {{ghost.name}}
          <span *ngIf="getRemainingEvidence(ghost.evidence).length">
            (
            <span *ngFor="let remainingEvidence of getRemainingEvidence(ghost.evidence)">
              <i class="m-1" [ngClass]="remainingEvidence.iconClass" [title]="remainingEvidence.name"></i>
            </span>
            )
          </span>
        </li>
      </ul>
    </ng-template>
    <ng-template [ngIf]="!getPossibleGhosts().length">
      <h2 class="text-xl">No Possible Ghost</h2>
      <div>Please check your evidence again</div>
      <ul>
        <li>Poltergeist can give fake EMF5 spikes when throwing multiple objects</li>
        <li>Ghost events can also trigger a fake EMF5 spike</li>
        <li>Are you sure it's a Ghost orb?</li>
      </ul>
    </ng-template>
  </div>

  <div class="m-2 behavior flex-initial">
    <h2 class="text-xl my-4">Behavior</h2>
    <div class="grid grid-cols-2 gap-3">

      <div class="behavior-giveaway">
        <div *ngFor="let behavior of getGhostBehaviorGiveaway()" class="flex items-center my-2">
          <span class="flex-none mr-2">
            <span class="inline-block rounded-full px-3 py-1 text-sm font-semibold text-white w-20 text-center cursor-pointer"
                [class.bg-gray-500]="!isSureCandidate(behavior.id)"
                [class.bg-green-500]="isSureCandidate(behavior.id)"
                (click)="toggleSureCandidate(behavior.id)"
            >Yes</span>
          </span>
          <span class="flex-initial text-sm">{{behavior.value}}</span>
        </div>
      </div>

      <div class="behavior-likely">
        <div *ngFor="let commonBehavior of getGhostBehaviorLikely(); index as behaviorIndex" class="flex items-center my-2">
          <span class="flex-none mr-2">
            <span class="inline-block rounded-full px-3 py-1 text-sm font-semibold text-white w-20 text-center cursor-pointer"
                  [class.bg-gray-500]="!isCommonBehaviorSelected(behaviorIndex)"
                  [class.bg-green-500]="isCommonBehaviorSelected(behaviorIndex)"
                  (click)="toggleCommonBehavior(behaviorIndex)"
            >Yes</span>
          </span>
          <span class="flex-initial text-sm">{{commonBehavior.value}}</span>
        </div>
      </div>

    </div>
  </div>

</div>
